In [14]:
# 변수에  값 대입
mun=3
#변수에 대입된 값 출력
print(num)

3

In [12]:
1+3 #1더하기 3 실행

4

In [17]:
#num1 변수애 숫자 13 대입
num1=13
print(num1)

13

In [18]:
num2=25
print(num2)

25

In [19]:
num2=77
print(num2)

77

In [20]:
num1=13
print(num1)
num2=25
print(num2)
num2=77
print(num2)

13
25
77

In [21]:
num2

77

In [22]:
num3=3.1425
num3
num4=1.25
num4
num5=3.0
num5

3.0

num4

In [23]:
num5

3.0

In [15]:
num=3
print(num)

3

In [24]:
num4

1.25

In [27]:
str1="Funny python"
print(str1)

Funny python

In [28]:
str1="Funny python"
print(str1)
str2='Easy python'
str2

Funny python

'Easy python'

In [ ]:
num1_num2=10

In [6]:
str1="Funny python"
print(str1)
str2='Easy python'
print(str2)

Funny python
Easy python

In [7]:
a, b=10, 15
print(a)
print(b)

10
15

In [ ]:
#려러가지 변수애 값 한번에 대입

In [37]:
str1=str2="python"
print(str1)
print(str2)

python
python

In [36]:
a,b=10,15
print(a)
print(b)

10
15

st='python \n java'
st

In [38]:
x=100
y=200
sum=x+y
print(sum)

300