In [1]:
num1=int(input('python 점수 입력>>'))
num2=int(input('머신러닝 점수 입력>>'))
num3=int(input('딥러닝 점수 입력>>'))

sum=num1+num2+num3
ev=sum/3

print('합계 : {}'.format(sum))
print('평균 : {}'.format(ev))

python 점수 입력>>100
머신러닝 점수 입력>>80
딥러닝 점수 입력>>60
합계 : 240
평균 : 80.0

In [5]:
num1=int(input('python 점수 입력>>'))
num2=int(input('머신러닝 점수 입력>>'))
num3=int(input('딥러닝 점수 입력>>'))


print('합계 : {}'.format(num1+num2+num3))
print('평균 : {}'.format((num1+num2+num3)/3))

python 점수 입력>>100
머신러닝 점수 입력>>80
딥러닝 점수 입력>>60
합계 : 240
평균 : 80.0

In [ ]:
#input은 문자열로 출력하니 숫자로 하려면 int나 float 써줘야 함
#합계와 평균이니 미리 변수작성함 format안에서 해줘도 되지만 복잡하니

In [3]:
time=int(input('시간 입력>>'))
hour=2
minute=5
second=33
print('{}시간 {}분 {}초'.format(hour, minute, second))

시간 입력>>7533
2시간 5분 33초

In [4]:
time=int(input('시간 입력>>'))
hour=0
minute=18
second=43
print('{}시간 {}분 {}초'.format(hour, minute, second))

시간 입력>>1123
0시간 18분 43초

In [ ]:
time=int(input('시간 입력>>'))
hour=1
minute=2
second=3
print('{}시간 {}분 {}초'.format(hour, minute, second))

In [10]:
time=int(input('시간 입력>>'))
#hour=int(time/3600)
hour=time//3600
minute=time%3600//60
second=time%3600%60
print('{}시간 {}분 {}초'.format(hour, minute, second))

시간 입력>>8524
2시간 22분 4초

In [12]:
s='x'
print(s*10)

xxxxxxxxxx

In [13]:
str1="응응"
print(str1*7)

응응응응응응응응응응응응응응

In [15]:
num=int(input('정수 입력>>'))
power=int(input('지수 입력>>'))
print('{}의 {}승은 {}입니다'.format(num,power,num**power))

정수 입력>>8
지수 입력>>9
8의 9승은 134217728입니다

In [16]:
num1=27
num1+=3 #num1=num1+3
num1

30

In [17]:
num1=54

num1/=2

num1

27.0

In [ ]:
x

In [18]:
num1=4
num-=2
num

6

In [19]:
num2=50
num2%=25
num2

0

In [23]:
num=100
num/=2
num/=5
print(num)

10.0

In [25]:
a=3
b=7
a,b=b,a
print('a : {}'.format(a))
print('b : {}'.format(b))

a : 7
b : 3

In [26]:
a=3
b=7
a=b
temp=a
b=temp
print('a : {}'.format(a))
print('b : {}'.format(b))

a : 7
b : 7

In [27]:
a=3
b=7
print(a>b)
print(a<=b)
print(a==b)
print(a!=b)

False
True
False
True

In [28]:
a=3
b=7
print(a>b)

False

In [30]:
a=3
b=7
print(not a>b)

True

In [38]:
3>5 and 10==20

False

In [37]:
3>5 and 10<20

False

In [36]:
3<5 and 10<20

True

In [35]:
3>5 or 10==20

False

In [34]:
3>5 or 10<20

True

In [33]:
3<5 or 10<20

True

In [39]:
#삼항연산자
score=80
'합격' if score >70 else '불합격'

'합격'

In [40]:
score=60
'합격' if score >70 else '불합격'

'불합격'

In [44]:
num=33
num=int(input('정수 입력>>'))

'짝수'=0
'홀수'=1
'짝수' if num/=2% else' 홀수

SyntaxError: invalid syntax (<ipython-input-44-ae383c12b238>, line 6)

In [53]:
num=int(input('정수 입력>>'))
result= "짝수" if num%2 ==0 else "홀수"
print('{}는 {}입니다'.format(num,result))

정수 입력>>33
33는 홀수입니다

In [54]:
num=int(input('정수 입력>>'))
num2="짝수" if num%2 == 0 else "홀수"
print('{}는 {}입니다'.format(num,num2))

정수 입력>>22
22는 짝수입니다

In [57]:
num=int(input('정수 입력>>'))
num2=int(input('정수 입력>>'))

print({}-{}.format(num1,num2))

정수 입력>>33
정수 입력>>5

AttributeError: 'dict' object has no attribute 'format'

In [62]:
num1=int(input('처 번째 정수 입력>>'))
num2=int(input('두 번째 정수 입력>>'))
num3=num1-num2 if num1>num2 else num2-num1
print('두 수의 차 : ',num3)

처 번째 정수 입력>>10
두 번째 정수 입력>>5
두 수의 차 :  5

In [61]:
num1=int(input('정수 입력>>'))
num2=int(input('정수 입력>>'))
num3=num1-num2 if num1>num2 else num2-num1
print('두 수의 차 : ',num3)

정수 입력>>33
정수 입력>>5
두 수의 차 :  28