In [10]:
###Question1
-22 ? 7 = 37
-큰수+두 수의 차
-22+ (22-7)

SyntaxError: invalid syntax (<ipython-input-10-039031fc3ae7>, line 2)

In [12]:
import pandas as pd

In [16]:
#문제와 정답만들기
#1. 문제와 정답을 담을 공간 만들기 - 리스트
list1 = []
#1부터 199까지 동작하는 for문 만들기 (변수a)
for a in range(1,200):
    #1부터 199까지 동작하는 for문 말들기(변수 b)
    for b in range(1,200):
        #규칙을 통해 a와 b를 연산안 결과 만들기(변수 result)
        if a > b:
            result =a +(a - b)
        else : 
            result = b + (b - a)
                #리스트에 문제(a, b)와 정답(result) 담기
        list1.append([a, b, result])

In [28]:
#list1을 DATAfRAME으로 만들것
#걸럼 이름을 A,B,Result로 만들기
#DataFrmae(자료, column = [])
data = pd.DataFrame(list1, columns = ['A', 'B', 'Result'])
#데이터 준비완료!

In [29]:
#데이터를 문제와 정답으로 분리
#문제 = X
#정답 = y
#loc[행, 열]
X = data.loc[:, ["A","B"]]
y = data.loc[:, "Result"]

In [ ]:
##머신러닝 모델에 학습시키기

In [30]:
#머신러닝 모델 받아오기
from sklearn.ensemble import RandomForestRegressor
random_forest = RandomForestRegressor()

#모델에 학습(fit)시키기
random_forest.fit(X,y)

RandomForestRegressor()

In [31]:
data

         A    B  Result
0        1    1       1
1        1    2       3
2        1    3       5
3        1    4       7
4        1    5       9
...    ...  ...     ...
39596  199  195     203
39597  199  196     202
39598  199  197     201
39599  199  198     200
39600  199  199     199

[39601 rows x 3 columns]

In [19]:
df = pd.DataFrame(data=list1, columns=['A', 'B', 'Result'])

In [20]:
df

         A    B  Result
0        1    1       1
1        1    2       3
2        1    3       5
3        1    4       7
4        1    5       9
...    ...  ...     ...
39596  199  195     203
39597  199  196     202
39598  199  197     201
39599  199  198     200
39600  199  199     199

[39601 rows x 3 columns]

In [9]:
#머신러닝 모델에 학습시키고
#머신러닝 모델이 규칙을 찾는지 확인해보자

In [32]:
##머신러닝 모델이 규칙을 찾았는지 확인

In [35]:
#predict(문제데이터)
random_forest.predict([[22,7]])

array([36.99])

In [36]:
random_forest.score(X,y)

0.9999975854967834